
@{
  
    Layout = "~/Views/shared/_Layout.cshtml";
}

<link href="~/style.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <h2>Notable places in Sheraton Hotel</h2>
    </div>

    <div class="row img-thumbnails">
        <div class="col-md-6">
            <a href="#">
                <img src="~/images/Sheraton-Frankfurt-Airport-Hotel---Au--enansicht-bei-Nacht.jpg"  class="img-thumbnail">
            </a>
        </div>
        <div class="col-md-6">
            <a href="#">
                <img src="~/images/prince-george-hotel-lobby.jpg" class="img-thumbnail">
            </a>
        </div>
       
        <div class="col-md-4">
            <a href="#">
                <img src="~/images/View-pictures-of-the-hotel-online.jpg"  class="img-thumbnail">
            </a>
        </div>
        


        <div class="col-md-4">
            <a href="#">
                <img src="~/images/bazen6.jpg" class="img-thumbnail">
            </a>
        </div>



     
        <div class="col-md-4">
            <a href="#">
                <img src="~/images/hot2.jpg" class="img-thumbnail">
            </a>
        </div>
        </div>

</div>